{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <link href="{{ asset('/admin/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
    <div class="p-5">
    <h1>Réinitialisation du mot de passe</h1>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form method="post">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" class="form-control form-control-user" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <input type="hidden" name="token" value="{{ token }}">
        <br>
        <button class="btn btn-primary btn-user btn-block" type="submit">
            Valider le mot de passe
        </button>
    </form>

    </div>
    </div>
    </div>
    </div>
    </div>

    </div>

    </div>
    </div>

{% endblock %}