{% extends 'base_admin.html.twig' %}

{% block title %}Edit Personnes{% endblock %}

{% block body %}
    <link href="{{ asset("css/form.css") }}" rel="stylesheet">
    {{ include('personnes/formformateur.html.twig', {'button_label': 'Update'}) }}


    <a href="{{ path('personnes_index') }}">back to list</a>

    {{ include('personnes/_delete_form.html.twig') }}
{% endblock %}
