{% extends "base.html.twig" %}

{% block body %}
    <h1><center>Passer Quiz</center></h1>
<div class="form-control">
    <center>
    <form action="{{ path('question') }}" method="post" class="form-group">
        <select name="quiz" id="quiz">
            <option value="1">Addition</option>
            <option value="2">Soustraction</option>
            <option value="3">Multiplication</option>
        </select>
    <input type="submit" value="Passer">
    </form>
    </center>
</div>


    
{% endblock %}