{% extends "base.html.twig" %}

{% block body %}
    <div class="imgpub">

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="form-control">
        <center>

            <form action="{{ path('question') }}" method="post" class="form-group">
                <select name="quiz" id="quiz">
                    <option value="1">Addition</option>
                    <option value="2">Soustraction</option>
                    <option value="3">Multiplication</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Passer" class="submit">
            </form>
        </center>
    </div>
    <style>
        .submit {
            margin-top: 40px;
            margin-bottom: 20px;
            background:  #E66207;
            text-transform: uppercase;
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 36px;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }
        imgpub {
            overflow: hidden;
            z-index: 2;
            position: absolute;
            left: 0   ;
            top: 0;


            padding-top: 200px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .imgpub:before {
            content: "";
            position: absolute;
            right: 0;
            top: 10%;
            left: 10%;
            width:80%;
            height: 60%;
            background-position: center;


            background-size:cover;
            transition: transform 1.2s ease-in-out;
            background-image: url("https://www.optimisterre.fr/wp-content/uploads/2019/06/quiz.jpg");

        }

    </style>


{% endblock %}