{% extends "base.html.twig" %}

{% block body %}

    <center>
        {% if res >= 80  %}
        <h1>Félicitations votre score est {{ res }} %</h1>
        {% else %}
            <h1>Malheuresement , vous avez echoué ,  votre score est {{ res }} %</h1>
        {% endif %}

    </center>

{% endblock %}